.main-layout {
  display: flex;
  position: fixed;    /* stay fixed on screen */
  top: 0;
  left: 0;
  width: 100vw;       /* full viewport width */
  height: 100vh;      /* full viewport height */
  background: #f5f5f5;  /* or transparent if needed */
  z-index: 999;       /* top layer */
  overflow: hidden;   /* prevent layout overflow */
}

.content {
   flex: 1;
  padding: 20px 40px; /* top/bottom 20px, left/right 40px */
  margin-left: 215px; /* move content 200px to the right */
  overflow-y: auto;   
  background: none;   
}
